@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#10403B, #127369);
}

.box-page{
    position: relative;
    width: 300px;
    height: 450px;
    background: #ffff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15)
}

.img-login {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.img-login img {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.login-box {
    position: absolute;
    top: 120px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box-page h1 {
    text-align: center;
    color: #094549;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;    
}

.box-page form {
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 12px;
    
}

form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 12px 0;
    
}

.text_field input {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
}

.text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
   
}

.text_field span::before { /*Não funcionou*/
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #094549;
    transition: .5s;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #094549;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
    color: #094549;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    border: 1px solid;
    background: #094549;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.signup_link {
    margin: 25px 0;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

